#header {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  padding: 0px 10px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

.navbar {
  margin-bottom: 0px;

}

.navbar-default {
  border-color: #5b3494;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>.icon-menu-sidebar:hover {
    color: #999999;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
}

.icon-size
{
    font-size: 87px;
}


