#header {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  padding: 0px 10px;
}

#menu-header-produtos {
    display: none;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 0
}

.navbar {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    /*box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px, rgba(0, 0, 0, 0.278431) 0px 2px 8px*/
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-default {
  border-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>.icon-menu-sidebar:hover {
    color: #999999;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white
}

.icon-size
{
    font-size: 87px;
}

.menu-hamburguer {
    position: absolute;
    color: white;
    z-index: 4;
    top: 17px;
    left: 17px;
    font-size: 17px;
    cursor: pointer
}

.menu-image-logo {
    width: 168px;
    padding-left: 0;
    height: 44px;
    margin-top: 4px;
}

.notication {
    width: 325px;
    margin: 5px
}

.notication h4 {
    font-size: 12px;
    margin-top: 0;
    font-weight: bold
}

.notication p {
    font-size: 11px
}

@media(max-width: 768px) {
    #menu-header-produtos {
        display: block
    }
}

