body {
    font-family: roboto;
    background-color: #edecec;
    font-size: 13px;
}

a {
    color: #1a0dab;
}

ul {
    list-style: none
}

input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.input-file {
    color: #1a0dab;
    cursor: pointer
}

.input-file:hover {
    text-decoration: underline
}

.btn {
    border-radius: 0px
}

.display-none {
    display: none
}