body {
    font-family: roboto;
    background-color: #edecec;
    font-size: 13px;
}

a {
    color: #1a0dab;
}

ul {
    list-style: none
}

input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.input-file {
    color: #1a0dab;
    cursor: pointer
}

.input-file:hover {
    text-decoration: underline
}

.btn {
    border-radius: 0px
}

.display-none {
    display: none
}

.logo-produto {
    padding: 20px
}

.container {
    width: 100%
}

.acoes i {
    margin-right: 7px
}

.glyphicon-hourglass {
    color: yellow;
    font-size: 16px
}

.glyphicon-remove {
    color: red;
    font-size: 16px
}

.glyphicon-ok {
    color: #5cb85c;
    font-size: 16px
}