body {
    font-family: roboto;
    background-color: #f5f5f5;
    font-size: 13px;
}

a {
    color: #1a0dab;
}

ul {
    list-style: none
}

input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.input-file {
    color: #1a0dab;
    cursor: pointer
}

.input-file:hover {
    text-decoration: underline
}

.my-btn-form {
    width: 40px;
}

.display-none {
    display: none
}

.select-form {
    width: 120px;
}

.input-search {
    margin: 5px 10px 5px 0;
}

.input-form {
    display: inline-block;
}

.input-form-single {
    width:320px;
}

.input-form-many-large {
    width: 445px;
}

.input-form-many-big {
    width: 425px;
}

.input-form-many-medium {
    width: 220px;
}

.input-form-many-small {
    width: 215px;
}

.logo-produto {
    padding: 20px
}

.icon-produto-consulta {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0px;
}

.container {
    width: 100%
}

.acoes {
    text-align: center
}
.acoes i {
    margin-right: 7px;
}

.glyphicon-hourglass {
    color: yellow;
    font-size: 16px
}

.glyphicon-remove {
    color: red;
    font-size: 16px
}

.glyphicon-ok {
    color: #5cb85c;
    font-size: 16px
}

.modal {
    display: block
}

.destaque-ativado {
    background: #5CB85C;
    padding: 0px 5px;
    color: white;
}

.destaque-desativado {
    background: #F0AD4E;
    padding: 0px 5px;
    color: white;
}

.arrow-panel {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer
}

.moreInfo {
    cursor: pointer
}

.moreInfo:hover {
    color: #5bc0de
}

.icon-tel {
    cursor: pointer;
    color: grey
}

.icon-tel-msg:hover {
    color: blue
}

.icon-tel-phone:hover {
    color: black
}

.icon-tel-hot:hover {
    color: red
}

.qtd-panel {
    position: absolute;
}

.qtd-panel > i {
    font-size: 11px;
    padding: 0px 3px;
}

.relacionados {
    margin: 0px 6px
}

.relacionados:hover {
    color: #EC971F;
}

.breadcrumbs {
    padding: 5px 0px 20px 15px;
    color: #ec870e;
}

.error-message {
    position: absolute;
    right: 25px;
    top: 5px;
    cursor: pointer
}

.alert {
    padding: 10px
}

.imgSearching > img {
    height: 150px;
    position: fixed;
    z-index: 2;
    left: 700px;
    top: 210px;
}

.my-form {
    position: relative;
    width: 650px;
    margin: 0 auto;
}

.my-form > select {
    display: inline-block;
}

.table {
    margin-bottom: 0px;
}

.close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    background: red;
    color: white;
    padding: 2px;
    border-radius: 8px;
}

.close-tab {
    position: absolute;
    z-index: 1;
    color: #5b3494;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.container-form {
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

@media print {
    .noPrint {
        display: none;
    }
}

@media(max-width: 992px) {
    .table {
        display: block;
    }

    .my-form {
        width: 100%;
    }

    .container-form {
        width: 100%;
        padding: 0 15px;
    }

    .select-form {
        width: 100%;
    }

    .input-form-single {
        width: 100%;
    }

    .input-form-single {
        width:100%
    }

    .input-form-many-large {
        width:100%;
    }

    .input-form-many-big {
        width:100%;
    }

    .input-form-many-medium {
        width:100%;
    }

    .input-form-many-small {
        width:100%;
    }
}