.my-button-circle {
    padding: 2px 7px 0px 7px;
    background: #F0AD4E;
    color: white;
    border-color: #F0AD4E;
    border-radius: 15px;
}

.my-button-circle:hover {
    color: white;
    background: #f9cd8f;
    border-color: #f9cd8f;
}

.my-button-circle:focus {
    color: white;
    background: #f9cd8f;
    border-color: #f9cd8f;
}