/*Aqui se encontram as classes ou ids comuns na aplicação inteira*/

.color-payement {
    background-color: #337AB7;
    border-color: #337AB7;
    color: white;
}

.color-payement:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: white;
}

.color-payement:active {
    background-color: #31b0d5;
    border-color: #269abc;
    color: white;
}

.color-payement:focus {
    background-color: #31b0d5;
    border-color: #269abc;
    color: white;
}

.input-search {
    margin-right: 10px;
    width: 100%
}

.logo-produto {
    padding: 15px 0px
}

#logo-company-print img {
    display: none;
}

.my-button {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    min-width: 30px;
    font-size: 11px;
    padding: 3px;
}

.sub-icon {
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.ReactTable .rt-noData {
    padding: 0
}

@media print {
    #logo-company-print img {
        margin: 0 auto;
        display: block;
        padding-top: 10px;
        width: 250px
    }
}