.sub-icon-open-menu {
    float: right;
    position: absolute;
    right: 0;
    top: 11px;
}

.sidebar-item-dropdown {
    padding: 0px;
}

.sidebar-item-dropdown > li a {
    color: rgba(0,0,0,0.45);
    font-weight: bold;
    padding-left: 15px;
}

.sidebar-item-dropdown > li {
    padding: 7px 0px;
}

.sidebar-item-dropdown > li:hover {
    font-weight: bold;
}

.sidebar-nav li > ul > li:hover {
  background: rgba(255, 255, 255, 0.3);    
}