#card-info-user {
    background-color: #666666;
    color: white;
    height: 72px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#menu-image-user {
    width: 40px;
    height: 40px;
    border-radius: 0px 9px
}

#card-info-text {
    margin-left: 10px
}