.my-print-screen {
    position: fixed;
    font-size: 31px;
    right: 8px;
    bottom: 30px;
    z-index: 100;
    cursor: pointer;
}

.imgSearching > img {
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
}

@media(max-width: 768px) {
    .my-print-screen {
        display: none
    }
}